@import url('./font/iconfont.css');

.about-container{
  min-height:980px;
  background: #fff;
  border-top: 1px solid #E5E5E5;
  .about{
    width: 1200px;
    margin: 105px auto 100px;
    .about-menu{
      font-size: 30px;
      width: 154px;
      float: left;
      margin-top: 140px;
      li{
        height: 135px;
        line-height: 135px;
        font-size: 30px;
        color: #2E334E;
        cursor: pointer;
        text-align: center;
        span{
          line-height: 1;
        }
      }
      li.active{
        font-size: 38px;
        color: #2942EE;
      }
      i{
        width: 90px;
        height:1px;
        background: #BABDC6;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .hide{
      display: none;
    }
    .show{
      display: block;
    }
    .about-view{
      float: right;
      width: 959px;
      .about-us{
        line-height: 38px;
        font-size: 18px;
        color: #2E334E;
        margin-top: 180px;
        text-align: justify;
        b{
          font-size: 24px;
        }
      }
      .join-us{
        margin-top: 180px;

        .card{
          width: 380px;
          height: 180px;
          background: #fff;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          box-shadow:  0 0 30px rgba(0, 26, 102, 0.15);
          text-align: center;
          display: inline-block;
          margin-bottom:32px;
          margin-right: 44px;

          .title{
            font-size: 18px;
            padding-top: 51px;
            font-weight: 600;
            margin-bottom: 41px;
          }
          .button{
            width: 125px;
            height: 38px;
            border:2px solid rgba(41, 66, 238, 1);
            border-radius: 18px;
            background: #fff;
            color: rgba(41, 66, 238, 1);
          }
        }
      }
      .contact-us{
        .card{
          width: 460px;
          height: 240px;
          background: #fff;
          box-shadow:  0 0 30px rgba(0, 26, 102, 0.15);
          text-align: center;
          display: inline-block;
          margin-bottom:32px;
          margin-right: 34px;
          border-radius: 10px;
          &:nth-child(2n){
            margin-right: 0;
          }
          .card-head{
            height: 68px;
            border-bottom:1px solid rgba(229, 229, 229, 1);
            margin: 0 30px;
            font-size: 18px;
            color: rgba(46, 51, 78, 1);
            line-height: 68px;
            text-align: left;
            padding-left: 11px;
          }
          .info{
            text-align: left;
            padding: 0 44px;
            margin: 14px 0 21px;
            li{
              line-height: 28px;
              font-size: 14px;
              color:rgba(46, 51, 78, 1);
              .iconfont{
                color:#294af1;
                margin-right: 10px;
              }
            }
          }
        }

      }
    }
  }
}
