.section1{
  height: 724px;
  background-image: url('../images/index4/banner.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  .inline{
    width: 1180px;
    margin:0 auto;
    padding-top:317px;
    .title{
      font-size: 60px;
      color: #fff;
      text-align: center;
    }
  }
}
.section2,
.section3,
.section4{
  .title{
    text-align:center;
    padding-top:100px;
    font-size: 35px;
    font-weight: normal;
  }
}
.section2{
  .desc{
    padding-top: 30px;
    color: #7B7D85;
    font-size: 18px;
  }
  .tools{
    width: 1200px;
    margin: 125px auto 140px;
    .tools-container{
      overflow: hidden;
      .tools-item{
        width: 50%;
        float: left;
        margin-bottom: 82px;
        .icon{
          width: 90px;
          height: 90px;
          display: inline-block;
          vertical-align: top;
          margin-right: 28px;
        }
        span{
          font-size: 24px;
          color: #2E334E;
          width: 430px;
          display: inline-block;
          line-height: 36px;
          padding-top: 27px;
        }
      }
    }
  }
}

.section3{
  background: #E7EDFF;
  .desc{
    padding-top: 29px;
    color: #7B7D85;
    font-size: 18px;
  }
  .tools{
    padding-bottom: 58px;
    margin-bottom:0;
  }
}

.section4{
  background: #fff;
  .desc{
    padding-top: 29px;
    color: #7B7D85;
    font-size: 18px;
  }
  .tools{
    padding-bottom: 58px;
    margin-bottom:0;
    .tools-container{
      .tools-item{
        width: 100%;
        span{
          width:auto;
        }
      }
    }
  }
}
