
  .section1 {
    height: 874px;
    background-image: url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;

    .top {
      .logo {
        width: 253px;
        height: 60px;
        display: inline-block;
        margin-left: 88px;
        margin-top: 43px;
      }

      .nav-menu {
        float: right;
        margin-top: 61px;

        li {
          float: left;
          margin-right: 88px;
          position: relative;
          height: 44px;
          line-height: 44px;

          a {
            color: white;
            text-decoration: none;
          }

          &.nav-button {
            width: 128px;
            height: 44px;
            border: 2px solid white;
            display: inline-block;
            -webkit-border-radius: 44px;
            -moz-border-radius: 44px;
            border-radius: 44px;
            vertical-align: top;
            text-align: center;
            margin-right: 34px;
          }

          &.active:after {
            content: '';
            width: 18px;
            height: 4px;
            position: absolute;
            bottom: 0;
            left: 50%;
            background: #fff;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            margin-left: -9px;
            display: inline-block;
          }
        }
      }
    }

    .intro {
      margin-top: 230px;
      margin-left: 360px;

      .title {
        color: #fff;
        font-size: 60px;
        font-weight: bold;
      }

      .sub-title {
        font-size: 42px;
        color: white;
        margin-top: 52px;
        padding-bottom: 39px;
      }

      .operation {
        .o-button {
          display: inline-block;
          width: 200px;
          height: 56px;
          -webkit-border-radius: 28px;
          -moz-border-radius: 28px;
          border-radius: 28px;
          border: 2px solid #fff;
          line-height: 56px;
          text-align: center;
          color: white;
          font-size: 24px;
          margin-right: 34px;
          box-shadow: 6px 6px 12px rgba(0, 26, 102, 0.08);
        }

        .o-login {
          background: #fff;
          color: rgba(41, 66, 238, 1);
        }
      }
    }
  }

  .section2{
    height: 692px;
    background: #fff;
    .title{
      text-align:center;
      padding-top:101px;
      font-size: 35px;
      font-weight: normal;
    }
    .platform{
      width: 1180px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 141px;
      .platform-review{
        width: 570px;
        height: 340px;
        background-image: url('../images/platform.png');
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
      }
      .text{
        width: 589px;
        height: 239px;
        float: right;
        padding-top: 29px;
        line-height: 32px;
        b{
          font-size: 24px;
        }
      }
    }
  }

  .section3{
    height: 810px;
    background: rgba(231, 237, 255, 1);
    .title{
      text-align:center;
      padding-top:101px;
      font-size: 35px;
      font-weight: normal;
    }
    .app-intro{
      width: 1180px;
      margin-left: auto;
      margin-right:auto;
      display: flex;
      justify-content: space-between;
      margin-top: 174px;
      .item{
        width: 327px;
        height: 320px;
        background: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding-top: 40px;
        float: left;

        .icon{
          width: 60px;
          height: 60px;
          display: block;
          margin: 0 auto;
        }
        .i-title{
          font-size: 26px;
          text-align:center;
          height: 91px;
          line-height: 91px;
          font-weight: normal;
        }
        .icon1{
          background-image: url('../images/commet.png');
        }
        .icon2{
          background-image: url('../images/commet.png');
        }
        .icon3{
           background-image: url('../images/commet.png');
        }
        p{
          font-size: 16px;
          color: rgba(123, 125, 133, 1);
          padding: 0 30px 0;
          line-height: 30px;
        }
      }
    }
  }


