<div class="footer">
    <div class="footer-box min_w">
        <div class="footer-left f-fl">
            <div class="footer-t1">Copyright @ 2014-2018 北京卓今信息技术有限公司 京ICP备18003946号-1</div>
            <div class="footer-t2">京公网安备11010502036661号</div>
            <div class="footer-t3">客服电话</div>
            <a class="footer-t4" href="tel:400-001-0711">400-001-0711</a>
            <div class="footer-t5">媒介及市场合作电话</div>
            <a class="footer-t6" href="tel:13617688861">13617688861</a>
        </div>

        <div class="footer-right f-fl">
            <div class="code1 f-fl">
                <i class="code"><img src="<%=staticPath%>/images/code.png"></i>
                <span>组织易官方微博</span>
            </div>
            <div class="code2 f-fl">
                <i class="code"><img src="<%=staticPath%>/images/code.png"></i>
                <span>组织易公众号</span>
            </div>
        </div>

        <div class="f-clear"></div>
    </div>
</div>
