<div class="header fixed_box min_w">
    <i class="logo hvr-forward"></i>
    <div class="nav-container">
        <ul class="nav">
            <li>
                <a href="/index"
                <% if (active == '/index') { %> class="nav-item active"
                <% } else { %>
                class="nav-item"
                <% } %>
                data-index="0">
                首页
                <span><i class="ma0"></i><i class="ma1"></i><i class="ma2"></i></span>
                </a>
            </li>
            <li>
                <a href="/digitization"
                <% if (active == '/digitization') { %> class="nav-item active"
                <% } else { %>
                class="nav-item"
                <% } %>
                data-index="1">
                数字化零工
                <span><i class="ma0"></i><i class="ma1"></i><i class="ma2"></i></span>
                </a>
            </li>
            <li>
                <a href="/labor"
                <% if (active == '/labor') { %> class="nav-item active"
                <% } else { %>
                class="nav-item"
                <% } %>
                data-index="2">
                    按需用工
                    <span><i class="ma0"></i><i class="ma1"></i><i class="ma2"></i></span>
                </a>
            </li>
            <li>
                <a href="/recommend"
                <% if (active == '/recommend') { %> class="nav-item active"
                <% } else { %>
                class="nav-item"
                <% } %>
                data-index="3">
                    应用介绍
                    <span><i class="ma0"></i><i class="ma1"></i><i class="ma2"></i></span>
                </a>
            </li>
            <li>
                <a href="/about"
                <% if (active == '/about') { %> class="nav-item active"
                <% } else { %>
                class="nav-item"
                <% } %>
                data-index="4">
                    关于我们
                    <span><i class="ma0"></i><i class="ma1"></i><i class="ma2"></i></span>
                </a>
            </li>
            <div class="f-clear"></div>
        </ul>
    </div>
    <div class="header-btns">
        <a href="<%=loginEntrance%>">
            <em>企业登录</em>
            <span><i>企业登录</i></span>
        </a><a href="javascript:;" onclick="showCodeDialog();">
        <em>收入领取</em>
        <span><i>收入领取</i></span>
    </a>
    </div>
</div>
