<%include _html5.html%>
<link rel="stylesheet" href="<%=staticPath%>/css/about.css">
<body>
<%-include('_header.html', {active: pathname})%>
<div class="content min_w">
    <div class="about-container">
        <div class="about f-cb">
            <ul class="about-menu">
                <li><a href="javascript:;" class="active"><span>关于我们</span><i></i></a></li>
                <li><a href="javascript:;"><span>加入我们</span><i></i></a></li>
                <li><a href="javascript:;"><span>联系我们</span></a></li>
            </ul>
            <div class="about-view">
                <div class="menu-box about-us show" data-height="350">
                    <b>组织易</b>
                    是固守至诚科技集团旗下产品，至2011年开始研究和研发一直致力于组织关系、企业管理、数字技术的研发。组织易，中国数字化按需用工服务商。业务重点犹如其名，寓意：为中国企业汇聚万千人才；让行业人有好活，好生活。组织易是为零工市场提供按需用工服务的互联网平台，一边面向企业和广泛组织，一边面向零工。集成辅助服务，由评价专家进行任务标准体系建设，为用工方提供一站式外包交付服务。产品优势:第一是即时性，让用工方随时随地可以找到需要的人才，解决用工荒问题，同时让工人不必再因缺少信息来源而造成劳动力闲置；第二是扁平化结算，用工端到工人端不再经过层层剥削，降低用工方本提高工人收益，并规避财务风险；第三是评价机制，用工方可用积分对服务进行评价，评价影响零工的等级，从而影响其收益和平台权益。
                    组织易运用基于互联网模式和最新的数字技术，结合最新的财税、社保政策和组织管理模式，服务好企业的同时更是造福数以亿计的零工，为所有劳动者实现伟大的中国梦贡献科技力量！
                </div>

                <div class="menu-box join-us" data-height="450">
                    <div class="card hvr-grow">
                        <h1 class="title">注册税务师（北京）</h1>
                        <a href="javascript:;" class="button">查看详情<i>&nbsp;→</i></a>
                    </div>
                    <div class="card hvr-grow">
                        <h1 class="title">注册薪税师（北京）</h1>
                        <a href="javascript:;" class="button">查看详情<i>&nbsp;→</i></a>
                    </div>
                    <div class="card hvr-grow">
                        <h1 class="title">企业管理咨询顾问（北京）</h1>
                        <a href="javascript:;" class="button">查看详情<i>&nbsp;→</i></a>
                    </div>
                    <div class="card hvr-grow">
                        <h1 class="title">行业解决方案工程师（北京）</h1>
                        <a href="javascript:;" class="button">查看详情<i>&nbsp;→</i></a>
                    </div>
                    <div class="f-clear"></div>
                </div>

                <div class="menu-box contact-us" data-height="850">
                    <!--北京-->
                    <div class="card hvr-grow">
                        <div class="card-head">
                            北京（全国运营中心）
                        </div>
                        <ul class="info">
                            <li><i class="iconfont iconfuzeren"></i>李女士</li>
                            <li><a href="tel:13635273333"><i class="iconfont icondianhua2"></i>13635273333</a></li>
                            <li>
                                <a target="_blank" href="https://map.baidu.com/search/%E5%8C%97%E4%BA%AC%E5%B8%82%E6%B5%B7%E6%B7%80%E5%8C%BA%E5%A4%A7%E9%92%9F%E5%AF%BA13%E5%8F%B7%E9%99%A21%E5%8F%B7%E6%A5%BC%E5%9C%B0%E4%B8%8B%E4%B8%80%E5%B1%82a01-18/@12951969.625,4833864,19z?querytype=s&da_src=shareurl&wd=%E5%8C%97%E4%BA%AC%E5%B8%82%E6%B5%B7%E6%B7%80%E5%8C%BA%E5%A4%A7%E9%92%9F%E5%AF%BA13%E5%8F%B7%E9%99%A21%E5%8F%B7%E6%A5%BC%E5%9C%B0%E4%B8%8B%E4%B8%80%E5%B1%82A01-18&c=132&src=0&pn=0&sug=0&l=15&b=(11855732,3418785;11867156,3426609)&from=webmap&biz_forward=%7B%22scaler%22:1,%22styles%22:%22pl%22%7D&device_ratio=1">
                                    <i class="iconfont icondizhi1"></i>北京市海淀区大钟寺13号院1号楼地下一层A01-18
                                </a>
                            </li>
                            <li><a href="mailto:lsj@goodsogood.com"><i class="iconfont iconyouxiang"></i>lsj@goodsogood.com</a></li>
                            <li><a href="tel:4000010711"><i class="iconfont iconkefu"></i>4000010711</a></li>
                        </ul>
                    </div>
                    <!--上海-->
                    <div class="card hvr-grow last">
                        <div class="card-head">
                            上海：（华东片区）
                        </div>
                        <ul class="info">
                            <li><i class="iconfont iconfuzeren"></i>任先生</li>
                            <li><a href="tel:18351686877"><i class="iconfont icondianhua2"></i>18351686877</a></li>
                            <li>
                                <a target="_blank" href="https://map.baidu.com/search/%E4%B8%8A%E6%B5%B7%E5%B8%82%E4%B8%AD%E6%98%A5%E8%B7%AF8329%E5%8F%B7%E6%AC%A7%E8%8E%B1%E9%9B%85%E5%95%86%E5%8A%A1%E4%B8%AD%E5%BF%83c%E6%A0%8B402/@13507688.565,3631663.83,19z?querytype=s&da_src=shareurl&wd=%E4%B8%8A%E6%B5%B7%E5%B8%82%E4%B8%AD%E6%98%A5%E8%B7%AF8329%E5%8F%B7%E6%AC%A7%E8%8E%B1%E9%9B%85%E5%95%86%E5%8A%A1%E4%B8%AD%E5%BF%83C%E6%A0%8B402&c=131&src=0&pn=0&sug=0&l=19&b=(12951612.625,4833619.5;12952326.625,4834108.5)&from=webmap&biz_forward=%7B%22scaler%22:1,%22styles%22:%22pl%22%7D&device_ratio=1">
                                    <i class="iconfont icondizhi1"></i>上海市中春路8329号欧莱雅商务中心C栋402
                                </a>
                            </li>
                            <li><a href="mailto:slc@goodsogood.com"><i class="iconfont iconyouxiang"></i>slc@goodsogood.com</a></li>
                            <li><a href="tel:4000010711"><i class="iconfont iconkefu"></i>4000010711</a></li>
                        </ul>
                    </div>
                    <!--天津-->
                    <div class="card hvr-grow">
                        <div class="card-head">
                            天津：（华北片区）
                        </div>
                        <ul class="info">
                            <li><i class="iconfont iconfuzeren"></i>任先生</li>
                            <li><a href="tel:13883158728"><i class="iconfont icondianhua2"></i>13883158728</a></li>
                            <li>
                                <a target="_blank" href="https://map.baidu.com/search/%E5%A4%A9%E6%B4%A5%E5%B8%82%E6%B2%B3%E8%A5%BF%E5%8C%BA%E5%8F%8B%E8%B0%8A%E8%B7%AF5%E5%8F%B7%E5%8C%97%E6%96%B9%E9%87%91%E8%9E%8D%E5%A4%A7%E5%8E%A65%E5%B1%82c%E5%BA%A7/@13047936.675,4709362.48,19z?querytype=s&da_src=shareurl&wd=%E5%A4%A9%E6%B4%A5%E5%B8%82%E6%B2%B3%E8%A5%BF%E5%8C%BA%E5%8F%8B%E8%B0%8A%E8%B7%AF5%E5%8F%B7%E5%8C%97%E6%96%B9%E9%87%91%E8%9E%8D%E5%A4%A7%E5%8E%A65%E5%B1%82C%E5%BA%A7&c=289&src=0&pn=0&sug=0&l=19&b=(13507331.565,3631419.33;13508045.565,3631908.33)&from=webmap&biz_forward=%7B%22scaler%22:1,%22styles%22:%22pl%22%7D&device_ratio=1">
                                    <i class="iconfont icondizhi1"></i>天津市河西区友谊路5号北方金融大厦5层C座
                                </a>
                            </li>
                            <li><a href="mailto:rzz@goodsogood.com"><i class="iconfont iconyouxiang"></i>rzz@goodsogood.com</a></li>
                            <li><a href="tel:4000010711"><i class="iconfont iconkefu"></i>4000010711</a></li>
                        </ul>
                    </div>
                    <!--重庆-->
                    <div class="card hvr-grow last">
                        <div class="card-head">
                            重庆：（西南片区）
                        </div>
                        <ul class="info">
                            <li><i class="iconfont iconfuzeren"></i>彭经理</li>
                            <li><a href="tel:13617688861"><i class="iconfont icondianhua2"></i>13617688861</a></li>
                            <li>
                                <a target="_blank" href="https://map.baidu.com/poi/%E9%87%8D%E5%BA%86%E5%98%89%E5%8F%91%E8%B7%A8%E8%B4%B8%E4%B8%AD%E5%BF%83/@11863383.095034482,3422711.74,19z?uid=be30f259e4dbfaa44307c1c3&primaryUid=12430146283093153262&ugc_type=3&ugc_ver=1&device_ratio=1&compat=1&querytype=detailConInfo&da_src=shareurl">
                                    <i class="iconfont icondizhi1"></i>重庆市南岸区嘉发跨贸中心34F
                                </a>
                            </li>
                            <li><a href="mailto:service@goodsogood.com"><i class="iconfont iconyouxiang"></i>service@goodsogood.com</a></li>
                            <li><a href="tel:4000010711"><i class="iconfont iconkefu"></i>4000010711</a></li>
                        </ul>
                    </div>
                    <!--昆明-->
                    <div class="card hvr-grow">
                        <div class="card-head">
                            昆明：（边贸试点区）
                        </div>
                        <ul class="info">
                            <li><i class="iconfont iconfuzeren"></i>许经理</li>
                            <li><a href="tel:13908710178"><i class="iconfont icondianhua2"></i>13908710178</a></li>
                            <li>
                                <a target="_blank" href="https://map.baidu.com/poi/%E4%BA%91%E9%93%9C%E5%BA%B7%E6%9F%8F%E5%B0%94%E5%A4%A7%E5%8E%A6/@11428141.91,2867810.59,19z?uid=272fad9e858ba54a8936eed2&primaryUid=6721295106537952263&ugc_type=3&ugc_ver=1&device_ratio=1&compat=1&querytype=detailConInfo&da_src=shareurl">
                                    <i class="iconfont icondizhi1"></i>云南省昆明市高新区科高路云铜康柏尔大厦A幢13楼
                                </a>
                            </li>
                            <li><a href="mailto:pxt@goodsogood.com"><i class="iconfont iconyouxiang"></i>pxt@goodsogood.com</a></li>
                            <li><a href="tel:4000010711"><i class="iconfont iconkefu"></i>4000010711</a></li>
                        </ul>
                    </div>

                    <div class="f-clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tpls" type="jquery/template">
    <div class="about-dialog">
        <div class="t1">企业咨询管理顾问</div>
        <div class="t2" style="margin-top: 36px;">职位描述</div>
        <div class="t3" style="margin-top: 28px;">工作职责：</div>
        <div class="t4" style="margin-top: 20px;">
            1.结合产品需求与市场趋势，为产品初期规划提供深刻见解与思路；<br/>
            2.与上下游通力协作，针对产品特性制定可行的产品方案，执行落地并追踪结果；<br/>
            3.全程跟踪、持续优化产品，提升产品的易用性，达到更好的用户体验;<br/>
            4.提出创新交互创意，设计出引领行业的交互方式。<br/>
        </div>
        <div class="t3" style="margin-top: 28px;">任职资格：</div>
        <div class="t4" style="margin-top: 20px;">
            1.结合产品需求与市场趋势，为产品初期规划提供深刻见解与思路；<br/>
            2.与上下游通力协作，针对产品特性制定可行的产品方案，执行落地并追踪结果；<br/>
            3.全程跟踪、持续优化产品，提升产品的易用性，达到更好的用户体验;<br/>
        </div>
        <div class="t2" style="margin-top: 36px;">工作地点</div>
        <div class="t4" style="margin-top: 26px;">重庆市南岸区南坪上海城</div>
    </div>
</script>
<%include _footer.html%>
</body>
<%include _footer_js.html%>
<script>
    var _about_view = $('.about-view');
    var _as = $('.about-menu a');
    var _menus = $('.about-view .menu-box');
    _as.each(function (index, item) {
        $(item).click(function () {
            _as.removeClass('active');
            $(item).addClass('active');
            _menus.removeClass('show');
            var _targetBox = $('.about-view > *').eq(index);
            var h = _targetBox.addClass('show').data('height');
            _about_view.css('height', h);
        })
    });
    _as.eq(0).trigger('click');

    $('.join-us .button').on('click', function () {
        window.showDialog($('#tpls').html(), 800, 600);
    });
</script>
<%include _end.html%>
