<%include _html5.html%>
<link rel="stylesheet" href="<%=staticPath%>/css/index.css">
<body class="index-body">
<%-include('_header.html', {active: pathname})%>
<div class="content index min_w">
    <div class="page page0">
        <div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/i-bg0.jpg"></div>
        <div class="page-content">
            <div class="t1"></div><!--组织变革辅助智能工具-->
            <div class="t2"></div><!--按需用工专家-->
            <div class="t3">
                <i><a href="<%=loginEntrance%>" class="hvr-hang">企业登录</a></i><i class="last"
            ><a href="javascript:;" onclick="showCodeDialog();" class="hvr-hang">收入领取</a></i>
            </div>

            <i class="elem i0-0"></i>
            <i class="elem i0-1"></i>
            <i class="elem i0-2"></i>
            <i class="elem i0-3"></i>
            <i class="elem i0-4"><i class="elem i0-7"></i></i>
            <i class="elem i0-5"><i class="elem i0-6"></i></i>
        </div>
    </div>

    <div class="page page1">
        <div class="pub-title"><span>平台简介</span><i></i></div>
        <div class="page1-content">
            <div class="left"><i class="hvr-grow"></i></div>
            <div class="right">
                <i>组织易</i>是全球第一款数字化组织管理辅助工具，专注于企业按需用工和数字化零工管理，
                是现代企业不可或缺的数字化管理基础设施。组织易包含智能群组管理工具、智能外包平台、零工众包平台、
                零工管理系统、财税一体化系统为企业在组织变革、管理分散零工、周期性的任务用工、低成本结算任务佣金提供了高效快捷的通道。
                为组织实现业务生态化、管理信息化、组织平台化、人员合伙化提供了简单易用的实施工具；为企业打造平台型组织、多元化的用工模式、
                内部共享人力市场提供了场景化的工具，为企业实现降本增效、管控用工和财税风险、优化分配模式、化解内部矛盾等关键价值。
            </div>
            <div class="f-clear"></div>
        </div>
    </div>

    <div class="page page2">
        <div class="pub-title"><span>应用介绍</span><i></i></div>
        <div class="page2-content">
            <div class="f-fl p2-item hvr-grow">
                <i class="i1-0"></i>
                <span>智能管理工具</span>
                <em>组织操作平台，组织管理、零工管理、任 务发布、支付费用、开票报税无所不能。</em>
            </div>
            <div class="f-fl p2-item hvr-grow">
                <i class="i1-1"></i>
                <span>个人众包客户端</span>
                <em>组织易移动端，活多结算快随时随地能赚钱。发布项目任务，拍单开始任务，及时验收，及时结算，不拖欠不压钱。</em>
            </div>
            <div class="f-fl p2-item hvr-grow">
                <i class="i1-2"></i>
                <span>快速辅助集成</span>
                <em>我们不是管理专家，我们只是辅助工具。个人客户端可集成在企业微信公众号、钉钉、ERP、OA等自有管理和业务系统内
                </em>
            </div>

            <div class="f-clear"></div>
        </div>
    </div>

    <div class="page page3">
        <div class="pub-title"><span>外包类型</span><i></i></div>
        <div class="page3-content">
            <div class="swiper-container epiboly-sc">
                <div class="swiper-wrapper p-3d">
                    <div class="swiper-slide p-3d">
                        <ul class="epiboly-list">
                            <li class="p-3d"><span>咨询外包</span></li>
                            <li class="p-3d"><span>管理外包</span></li>
                            <li class="p-3d"><span>事务外包</span></li>
                            <li class="p-3d"><span>营销外包</span></li>
                            <li class="p-3d"><span>辅助外包</span></li>
                            <li class="p-3d"><span>技术外包</span></li>
                            <li class="p-3d"><span>信息外包</span></li>
                            <li class="p-3d"><span>设计外包</span></li>
                            <li class="p-3d"><span>制造外包</span></li>
                            <div class="f-clear"></div>
                        </ul>
                    </div>
                    <div class="swiper-slide p-3d">
                        <ul class="epiboly-list">
                            <li class="p-3d"><span>服务外包</span></li>
                            <li class="p-3d"><span>宣传外包</span></li>
                            <li class="p-3d"><span>运营外包</span></li>
                            <li class="p-3d"><span>知识外包</span></li>
                            <li class="p-3d"><span>教育外包</span></li>
                            <li class="p-3d"><span>培训外包</span></li>
                            <li class="p-3d"><span>代理外包</span></li>
                            <li class="p-3d"><span>融资外包</span></li>
                            <li class="p-3d"><span>风控外包</span></li>
                            <div class="f-clear"></div>
                        </ul>
                    </div>
                    <div class="swiper-slide p-3d">
                        <ul class="epiboly-list">
                            <li class="p-3d"><span>事务外包</span></li>
                            <li class="p-3d"><span>内容外包</span></li>
                            <li class="p-3d"><span>分发外包</span></li>
                            <li class="p-3d"><span>数据外包</span></li>
                            <li class="p-3d"><span>测试外包</span></li>
                            <li class="p-3d"><span>运维外包</span></li>
                            <li class="p-3d"><span>施工外包</span></li>
                            <li class="p-3d"><span>活动外包</span></li>
                            <li class="p-3d"><span>团建外包</span></li>
                            <div class="f-clear"></div>
                        </ul>
                    </div>
                </div>
                <div class="pagination"></div>
            </div>
            <button class="epiboly-prev"></button>
            <button class="epiboly-next"></button>
        </div>
    </div>
</div>
<%include _footer.html%>
</body>
<%include _footer_js.html%>
<script src="<%=staticPath%>/js/index.js"></script>
<%include _end.html%>


