<%include _html5.html%>
<link rel="stylesheet" href="<%=staticPath%>/css/labor.css">
<body>
<%-include('_header.html', {active: pathname})%>
<div class="content min_w">
    <div class="section1">
        <div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/labor/banner.png"></div>
        <div class="inline parallax_box">
            <h1 class="title layer">合作关系，如沐春风</h1>
            <div class="desc">
                <p class="p1 layer">帮助每一个组织建立自己的“内部人力共享平台”</p>
                <p class="p2 layer">实现从人人我有到人人为我用</p>
                <p class="p3 layer">优化组织管理的公平和效率</p>
                <p class="p4 layer">使其更具活力、生命力、成长性</p>
                <p class="p5 layer">最终实现“人人为组织，组织为人人”</p>
            </div>
        </div>
    </div>

    <div class="section2">
        <h1 class="title underline">外包类型</h1>
        <div class="epiboly-box">
            <div class="swiper-container epiboly-sc">
                <div class="swiper-wrapper p-3d">
                    <div class="swiper-slide p-3d">
                        <ul class="epiboly-list">
                            <li class="p-3d"><span>咨询外包</span></li>
                            <li class="p-3d"><span>管理外包</span></li>
                            <li class="p-3d"><span>事务外包</span></li>
                            <li class="p-3d"><span>营销外包</span></li>
                            <li class="p-3d"><span>辅助外包</span></li>
                            <li class="p-3d"><span>技术外包</span></li>
                            <li class="p-3d"><span>信息外包</span></li>
                            <li class="p-3d"><span>设计外包</span></li>
                            <li class="p-3d"><span>制造外包</span></li>
                            <div class="f-clear"></div>
                        </ul>
                    </div>
                    <div class="swiper-slide p-3d">
                        <ul class="epiboly-list">
                            <li class="p-3d"><span>服务外包</span></li>
                            <li class="p-3d"><span>宣传外包</span></li>
                            <li class="p-3d"><span>运营外包</span></li>
                            <li class="p-3d"><span>知识外包</span></li>
                            <li class="p-3d"><span>教育外包</span></li>
                            <li class="p-3d"><span>培训外包</span></li>
                            <li class="p-3d"><span>代理外包</span></li>
                            <li class="p-3d"><span>融资外包</span></li>
                            <li class="p-3d"><span>风控外包</span></li>
                            <div class="f-clear"></div>
                        </ul>
                    </div>
                    <div class="swiper-slide p-3d">
                        <ul class="epiboly-list">
                            <li class="p-3d"><span>事务外包</span></li>
                            <li class="p-3d"><span>内容外包</span></li>
                            <li class="p-3d"><span>分发外包</span></li>
                            <li class="p-3d"><span>数据外包</span></li>
                            <li class="p-3d"><span>测试外包</span></li>
                            <li class="p-3d"><span>运维外包</span></li>
                            <li class="p-3d"><span>施工外包</span></li>
                            <li class="p-3d"><span>活动外包</span></li>
                            <li class="p-3d"><span>团建外包</span></li>
                            <div class="f-clear"></div>
                        </ul>
                    </div>
                </div>
                <div class="pagination"></div>
            </div>
            <button class="epiboly-prev"></button>
            <button class="epiboly-next"></button>
        </div>
    </div>

    <div class="section3">
        <h1 class="title underline">他们都在用</h1>
        <div class="using">
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l1.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l2.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l3.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l4.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l5.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l6.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l7.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l8.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l9.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l10.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l11.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l12.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l13.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l14.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l15.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l16.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l17.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l18.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l19.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l20.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l21.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l22.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l23.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l24.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l25.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l26.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l27.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l28.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l29.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l30.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l31.png"></div><span></span></div>
            <div class="item"><div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/logos/l32.png"></div><span></span></div>
            <div class="f-clear"></div>
        </div>
    </div>
</div>
<%include _footer.html%>
</body>
<%include _footer_js.html%>
<script>
    var textMap = [
        {
            text: '合作关系，如沐春风',
            o: $('.section1 .inline .title')
        },
        {
            text: '帮助每一个组织建立自己的“内部人力共享平台”',
            o: $('.section1 .inline .p1')
        },
        {
            text: '实现从人人我有到人人为我用',
            o: $('.section1 .inline .p2')
        },
        {
            text: '优化组织管理的公平和效率',
            o: $('.section1 .inline .p3')
        },
        {
            text: '使其更具活力、生命力、成长性',
            o: $('.section1 .inline .p4')
        },
        {
            text: '最终实现“人人为组织，组织为人人”',
            o: $('.section1 .inline .p5')
        }
    ];
    var gather = [];
    $.each(textMap, function (i, tm) {
        tm.o.html('');
        $.each(tm.text.split(''), function (i, t) {
            tm.o.append('<i>' + t + '</i>');
        });
        gather = gather.concat($.makeArray(tm.o.find('i')));
    });

    TweenMax.set(gather, {autoAlpha: 0});
    TweenMax.staggerTo(gather, 0.6, {
        autoAlpha: 1,
        ease: Power1.easeIn
    }, 0.04);

</script>
<%include _end.html%>
