<%include _html5.html%>
<link rel="stylesheet" href="<%=staticPath%>/css/labor.css">
<body>
<%-include('_header.html', {active: pathname})%>
<div class="content">

    <div class="section1">
        <div class="inline">
            <h1 class="title">合作关系，如沐春风</h1>
            <div class="desc">
                帮助每一个组织建立自己的“内部人力共享平台”<br>
                实现从人人我有到人人为我用<br>
                优化组织管理的公平和效率<br>
                使其更具活力、生命力、成长性<br>
                最终实现“人人为组织，组织为人人”<br>
            </div>
        </div>
    </div>

    <div class="section2">
        <h1 class="title underline">外包类型</h1>
        <div class="epiboly-box">
            <div class="swiper-container epiboly-sc">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <ul class="epiboly-list">
                            <li class="hvr-shrink"><span>咨询外包</span></li>
                            <li class="hvr-shrink"><span>管理外包</span></li>
                            <li class="hvr-shrink"><span>事务外包</span></li>
                            <li class="hvr-shrink"><span>营销外包</span></li>
                            <li class="hvr-shrink"><span>辅助外包</span></li>
                            <li class="hvr-shrink"><span>技术外包</span></li>
                            <li class="hvr-shrink"><span>信息外包</span></li>
                            <li class="hvr-shrink"><span>设计外包</span></li>
                            <li class="hvr-shrink"><span>制造外包</span></li>
                            <div class="f-clear"></div>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="epiboly-list">
                            <li class="hvr-shrink"><span>服务外包</span></li>
                            <li class="hvr-shrink"><span>宣传外包</span></li>
                            <li class="hvr-shrink"><span>运营外包</span></li>
                            <li class="hvr-shrink"><span>知识外包</span></li>
                            <li class="hvr-shrink"><span>教育外包</span></li>
                            <li class="hvr-shrink"><span>培训外包</span></li>
                            <li class="hvr-shrink"><span>代理外包</span></li>
                            <li class="hvr-shrink"><span>融资外包</span></li>
                            <li class="hvr-shrink"><span>风控外包</span></li>
                            <div class="f-clear"></div>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="epiboly-list">
                            <li class="hvr-shrink"><span>事务外包</span></li>
                            <li class="hvr-shrink"><span>内容外包</span></li>
                            <li class="hvr-shrink"><span>分发外包</span></li>
                            <li class="hvr-shrink"><span>数据外包</span></li>
                            <li class="hvr-shrink"><span>测试外包</span></li>
                            <li class="hvr-shrink"><span>运维外包</span></li>
                            <li class="hvr-shrink"><span>施工外包</span></li>
                            <li class="hvr-shrink"><span>活动外包</span></li>
                            <li class="hvr-shrink"><span>团建外包</span></li>
                            <div class="f-clear"></div>
                        </ul>
                    </div>
                </div>
                <div class="pagination"></div>
            </div>
            <button class="epiboly-prev"></button>
            <button class="epiboly-next"></button>
        </div>
    </div>

    <div class="section3">
        <h1 class="title underline">他们都在用</h1>
        <div class="using"></div>
    </div>
</div>
<%include _footer.html%>
</body>
<%include _footer_js.html%>
<%include _end.html%>
