<%include _html5.html%>
<link rel="stylesheet" href="<%=staticPath%>/css/recommend.css">
<body>
<%-include('_header.html', {active: pathname})%>
<div class="content">
    <div class="section1">
        <div class="bg-box"><img class="iv_image" src="<%=staticPath%>/images/index4/banner.png"></div>
        <div class="inline parallax_box">
            <h1 class="title layer">拥抱组织易，让组织动员更容易</h1>
        </div>
    </div>

    <div class="section2">
        <h1 class="title">智能管理工具</h1>
        <p class="desc text-center">组织操作平台，组织管理、零工管理、任务发布、支付费用、开票报税无所不能。</p>
        <div class="tools">
            <div class="tools-container">
                <div class="tools-item">
                    <i class="icon">
                        <img src="<%=staticPath%>/images/index4/1.png">
                    </i>
                    <span>智能群组  组织拆解  灵活多样</span>
                </div>
                <div class="tools-item">
                    <i class="icon">
                        <img src="<%=staticPath%>/images/index4/2.png" alt="">
                    </i>
                    <span>零工管理  角色技能  准确清晰</span>
                </div>
                <div class="tools-item">
                    <i class="icon">
                        <img src="<%=staticPath%>/images/index4/3.png" alt="">
                    </i>
                    <span>任务管理  及时派工  高效完工</span>
                </div>
                <div class="tools-item">
                    <i class="icon">
                        <img src="<%=staticPath%>/images/index4/4.png" alt="">
                    </i>
                    <span>开票报税  一件处理  20秒搞定</span>
                </div>
                <div class="tools-item">
                    <i class="icon">
                        <img src="<%=staticPath%>/images/index4/5.png" alt="">
                    </i>
                    <span>费用支付  多渠道分发  亿级资金  秒级到账</span>
                </div>
            </div>
        </div>
    </div>

    <div class="section2 section3">
        <h1 class="title">个人众包客户端</h1>
        <p class="desc text-center">组织易移动端，活多结算快随时随地能赚钱。发布项目任务，拍单开始任务，及时验收，及时结算，不拖欠不压钱。</p>
        <div class="tools">
            <div class="tools-container">
                <div class="tools-item">
                    <i class="icon">
                        <img src="<%=staticPath%>/images/index4/6.png" alt="">
                    </i>
                    <span>任务中心  任务清晰明确  佣金丰厚</span>
                </div>
                <div class="tools-item">
                    <i class="icon">
                        <img src="<%=staticPath%>/images/index4/7.png" alt="">
                    </i>
                    <span>收款账户  支持400余家银行，实时到账，随时提现</span>
                </div>
            </div>
        </div>
    </div>

    <div class="section2 section4">
        <h1 class="title">快速辅助集成</h1>
        <p class="desc text-center">我们不是管理专家，我们只是辅助工具</p>
        <div class="tools">
            <div class="tools-container">
                <div class="tools-item">
                    <i class="icon">
                        <img src="<%=staticPath%>/images/index4/8.png" alt="">
                    </i>
                    <span>个人客户端可集成在企业微信公众号、钉钉、ERP、OA等自有管理和业务系统内</span>
                </div>
            </div>
        </div>
    </div>
</div>
<%include _footer.html%>
</body>
<%include _footer_js.html%>
<script>
    var textMap = [
        {
            text: '拥抱组织易，让组织动员更容易',
            o: $('.section1 .inline .title')
        }
    ];
    var gather = [];
    textMap.forEach(function (tm) {
        tm.o.html('');
        tm.text.split('').forEach(function (t) {
            tm.o.append('<i>' + t + '</i>');
        });
        gather = gather.concat($.makeArray(tm.o.find('i')));
    });

    TweenMax.set(gather, {autoAlpha: 0});
    TweenMax.staggerTo(gather, 0.8, {
        autoAlpha: 1,
        ease: Power1.easeIn
    }, 0.05);

</script>

<%include _end.html%>
