.section1 {
  position: relative;
  left: 0;
  top: 0;
  height: 824px;
}
.section1 .inline {
  position: relative;
  left: 0;
  top: 0;
  z-index: 2;
  width: 1180px;
  margin: 0 auto;
  padding-top: 139px;
}
.section1 .inline .title {
  font-size: 60px;
  color: #fff;
  margin-left: 81px;
}
.section1 .inline .desc {
  margin-left: 81px;
}
.section1 .inline .desc .indent {
  font-size: 35px;
  color: #fff;
  display: inline-block;
  margin-top: 89px;
  margin-bottom: 25px;
}

.section1 .inline .desc .indent i{
  display: inline-block;
  padding-bottom: 30px;
  border-bottom: 2px solid #fff;
}

.section1 .inline .desc p {
  line-height: 60px;
  font-size: 24px;
  color: #fff;
}

.section2 .title,
.section3 .title,
.section4 .title {
  text-align: center;
  padding-top: 101px;
  font-size: 35px;
  font-weight: normal;
}

.section2 .info {
  width: 1023px;
  margin: 132px auto 141px;
  line-height: 38px;
  text-indent: 1em;
  font-size: 18px;
}

.section3 {
  background: #E7EDFF;
}
.section3 .ling {
  padding: 133px 0 140px;
  font-size: 0;
}
.section3 .ling .item {
  display: block;
  width: 12.5%;
  *width: 12.45%;
  height: 320px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: transparent;
  border: none;
  float: left;
}


.section3 .ling .item span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 233ms;
  -webkit-transition: opacity 233ms;
  -moz-transition: opacity 233ms;
  -o-transition: opacity 233ms;
}

.section3 .ling .item:hover span{
  opacity: 0;
}


.section4 .desc {
  line-height: 38px;
  font-size: 18px;
  color: #7B7D85;
  text-align: center;
  padding-top: 30px;
}
.section4 .map {
  display: block;
  margin: 82px auto 140px;
  background: url(../images/digitization/map.png) center no-repeat;
  width: 899px;
  height: 822px;
  position: relative;
}

.section4 .map i{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/digitization/addr.png) center no-repeat;
  width: 22px;
  height: 28px;
}

.section4 .map i.addr-0{
  left: 636px;
  top: 286px;
}

.section4 .map i.addr-1{
  left: 655px;
  top: 300px;
}

.section4 .map i.addr-2{
  left: 680px;
  top: 367px;
}

.section4 .map i.addr-3{
  left: 491px;
  top: 374px;
}

.section4 .map i.addr-4{
  left: 755px;
  top: 433px;
}

.section4 .map i.addr-5{
  left: 412px;
  top: 471px;
}

.section4 .map i.addr-6{
  left: 777px;
  top: 485px;
}

.section4 .map i.addr-7{
  left: 529px;
  top: 492px;
}

.section4 .map i.addr-8{
  left: 614px;
  top: 492px;
}

.section4 .map i.addr-9{
  left: 669px;
  top: 533px;
}

.section4 .map i.addr-10{
  left: 469px;
  top: 581px;
}

.section4 .map i.addr-11{
  left: 658px;
  top: 650px;
}
