body{
    visibility: hidden;
}

body.active{
    visibility: visible;
}

.index-body .header {
    transition: background 233ms;
    background-color: transparent;
    height: 150px;
    border-bottom: 0;
}

.index-body .header.shade {
    background-color: #2E334E;
    background-color: rgba(46, 51, 78, 0.5);
}

.index-body .header .logo {
    background: url(../images/logo.png) center no-repeat;
    width: 253px;
    height: 60px;
    left: 80px;
    top: 43px;
}

.index-body .header .header-btns {
    top: 60px;
}

.index-body .header .header-btns a {
    color: #fff;
    border: 2px solid #fff;
}

.index-body .nav-item {
    color: #fff;
}

.index-body .nav-item:hover, .index-body .nav-item.active {
    color: #fff;
}

.index-body .nav-item span i {
    background-color: #fff;
}

.index-body .nav-container {
    padding-top: 60px;
}

.index.content {
    padding-top: 0;
}

.index .page {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.index .page0 {
    width: 100%;
    height: 874px;
}

.index .page0 .bg-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2942ee;
}

.t1 {
    position: absolute;
    top: 333px;
    left: 360px;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
}

.t2 {
    position: absolute;
    top: 445px;
    left: 360px;
    color: #fff;
    font-size: 42px;
}

.t1 i, .t2 i {
    display: inline-block;
    /*opacity: 0;*/
    /*visibility: hidden;*/
}

.t3 {
    position: absolute;
    top: 524px;
    left: 360px;
}

.t3 i {
    display: inline-block;
    width: 200px;
    height: 56px;
    /*opacity: 0;*/
    /*visibility: hidden;*/
    /*transform: translateY(100%);*/
    /*-webkit-transform: translateY(100%);*/
    /*-moz-transform: translateY(100%);*/
    /*-o-transform: translateY(100%);*/
}

.t3 a {
    display: block;
    width: 196px;
    height: 52px;
    border: 2px solid #fff;
    border-radius: 28px;
    background-color: #fff;
    color: #2942EE;
    font-size: 24px;
    text-align: center;
    line-height: 52px;
}

.t3 a:hover, .t3 a:visited {
    color: #2942EE;
}

.t3 i.last a {
    margin-left: 34px;
    background-color: transparent;
    color: #fff;
}

.t3 i.last a.last:hover, .t3 i.last a.last:visited {
    color: #fff;
}

.elem {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    /*opacity: 0;*/
    /*visibility: hidden;*/
    /*transform: translateY(100%);*/
    /*-webkit-transform: translateY(100%);*/
    /*-moz-transform: translateY(100%);*/
    /*-o-transform: translateY(100%);*/
}

.i0-0 {
    background-image: url(../images/i0-0.png);
    width: 867px;
    height: 525px;
    left: 1019px;
    top: 389px;
}

.i0-1 {
    background-image: url(../images/i0-1.png);
    width: 235px;
    height: 175px;
    left: 779px;
    /*top: 708px;*/
    top: 728px;
}

.i0-2 {
    background-image: url(../images/i0-2.png);
    width: 48px;
    height: 50px;
    left: 14px;
    /*top: 684px;*/
    top: 704px;
}

.i0-3 {
    background-image: url(../images/i0-3.png);
    width: 72px;
    height: 114px;
    left: 0;
    /*top: 800px;*/
    top: 820px;
}

.i0-4 {
    background-image: url(../images/i0-4.png);
    width: 560px;
    height: 458px;
    left: 0;
    top: 661px;
    /*top: 681px;*/
}

.i0-5 {
    background-image: url(../images/i0-5.png);
    width: 431px;
    height: 452px;
    left: 1207px;
    top: 240px;
    /*transform: translateY(-100%);*/
    /*-webkit-transform: translateY(-100%);*/
    /*-moz-transform: translateY(-100%);*/
    /*-o-transform: translateY(-100%);*/
}

.i0-6 {
    background-image: url(../images/i0-6.png);
    width: 120px;
    height: 154px;
    left: 173px;
    top: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.i0-7 {
    background-image: url(../images/i0-7.png);
    width: 130px;
    height: 201px;
    left: 225px;
    top: 15px;
    /*transform: translateY(0);*/
    /*-webkit-transform: translateY(0);*/
    /*-moz-transform: translateY(0);*/
    /*-o-transform: translateY(0);*/
}

.index .page1 {
    width: 100%;
    height: 785px;
    background-color: #fff;
}

.page1-content{
    width: 1200px;
    margin: 140px auto auto;
}

.page1-content .left{
    width: 554px;
    height: 324px;
    float: left;
    overflow: hidden;
}

.page1-content .left i{
    background: #eee url(../images/i-bg1.jpg) center no-repeat;
    width: 554px;
    height: 324px;
}

.page1-content .right{
    float: left;
    width: 606px;
    padding-left: 40px;
    color: #2e334e;
    font-size: 16px;
    line-height:32px;
    padding-top: 28px;
}

.page1-content .right i{
    font-size: 24px;
    font-weight: bold;
    margin-right: 5px;
}


.index .page2 {
    width: 100%;
    height: 810px;
    background-color: #E7EDFF;
}

.page2-content{
    width: 1180px;
    margin: 140px auto auto;
}

.p2-item{
    /*width: 327px;*/
    /*height: 360px;*/
    width: 267px;
    height: 280px;

    background-color: #fff;
    box-shadow:0 0 36px 4px rgba(0,26,102,0.08);
    border-radius:10px;
    padding: 40px 30px;
}

.p2-item + .p2-item{
    margin-left: 99px;
}


.p2-item i{
    display: block;
    width: 60px;
    height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
}

.i1-0{
    background-image: url(../images/i1-0.png);
}
.i1-1{
    background-image: url(../images/i1-1.png);
}
.i1-2{
    background-image: url(../images/i1-2.png);
}

.p2-item span{
    display: block;
    margin-top: 35px;
    text-align: center;
    color: #2E334E;
    font-size: 26px;
    font-weight: bold;
}


.p2-item em{
    font-size: 16px;
    color: #7B7D85;
    font-weight:400;
    line-height: 30px;
    margin-top: 30px;
    display: block;
}

.index .page3 {
    width: 100%;
    height: 946px;
    background-color: #fff;
}

.page3-content{
    position: relative;
    width: 1300px;
    height: 548px;
    margin: 140px auto auto;
}
