.section1 {
  height: 724px;
  position: relative;
  /*background-image: url("../images/index3/banner.png");*/
  /*-webkit-background-size: cover;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
}
.section1 .inline {
  position: relative;
  z-index: 2;
  width: 1180px;
  margin: 0 auto;
  padding-top: 139px;
}
.section1 .inline .title {
  font-size: 60px;
  color: #fff;
  margin-left: 322px;
}
.section1 .inline .desc {
  margin-left: 322px;
  line-height: 60px;
  font-size: 24px;
  margin-top: 59px;
  color: #fff;
}

.section2 .title,
.section3 .title,
.section4 .title {
  text-align: center;
  padding-top: 101px;
  font-size: 35px;
  font-weight: normal;
}

.section2 {
  height: 946px;
}

.section3 {
  background: #E7EDFF;
}
.section3 .using {
  height: 400px;
}

.epiboly-box{
  position: relative;
  width: 1300px;
  height: 548px;
  margin: 140px auto auto;
}
